* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
.borderBox {
  display: block;
  width: 100%;
}
.mui-bar {
  background-color: #ff520b;
}
.mui-bar-tab .mui-tab-item {
  color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #FFE62D;
}
.mui-bar .mui-icon {
  margin-top: 0.15rem;
  font-size: 1.099rem;
}
@media only screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (width: 412px) {
  html {
    font-size: 20.6px;
  }
}
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
.mui-bar {
  background-color: #ff520b;
}
.mui-bar-tab .mui-tab-item {
  color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #FFE62D;
}
.main > div {
  position: relative;
  padding-top: 3.2037037rem;
}
header {
  height: 3.2037037rem;
  width: 100%;
  text-align: center;
  line-height: 3.2037037rem;
  font-size: 1.11111111rem;
  background-color: #FFFFFF;
  position: fixed;
  top: -0.2037037rem;
  z-index: 99;
}
header:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: #cccccc;
}
#index header {
  width: 100%;
  height: 3.2037037rem;
  background-image: url("../images/logobj.gif");
  position: fixed;
  top: -0.2037037rem;
  z-index: 99;
}
#index header .logo {
  position: absolute;
  left: 50%;
  margin-left: -3.92592593rem;
  top: 50%;
  margin-top: -1.16666667rem;
  background-repeat: no-repeat;
  background-image: url("../images/logo.png");
  width: 7.85185185rem;
  height: 2.33333333rem;
  background-size: 7.85185185rem 2.33333333rem;
  color: transparent;
}
#index nav {
  overflow: hidden;
}
#index nav li {
  width: 25%;
  float: left;
  padding: 2.5%;
  text-align: center;
}
#index nav li a img {
  width: 100%;
  height: 4rem;
  display: block;
  background-size: 20% 4rem;
}
#category ul li {
  padding: 0.5rem 1rem;
  position: relative;
}
#category ul li .title {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}
#category ul li:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #cccccc;
  position: absolute;
  left: 0;
  bottom: 0;
}
#cart .empty_cart {
  text-align: center;
  position: relative;
  margin-top: 12rem;
  padding-top: 4.62962963rem;
}
#cart .empty_cart div {
  background-image: url("../images/gwck.png");
  background-size: 5.27777778rem 3.96296296rem;
  width: 5.27777778rem;
  height: 3.96296296rem;
  position: absolute;
  margin-left: -2.63888889rem;
  top: 0;
  left: 50%;
}
#usercenter {
  background-color: #fff;
}
#usercenter .login {
  padding: 20px;
  background-color: #ff520b;
}
#usercenter .login a.login_btn {
  display: block;
  font-size: 0.74074074rem;
  height: 4.81481481rem;
  width: 4.81481481rem;
  border: 1px #ccc solid;
  border-radius: 50%;
  box-shadow: 0 0 20px red;
  text-shadow: 0 0 1px red;
  line-height: 4.81481481rem;
  text-align: center;
  background-color: #fff;
  color: #ff520b;
  margin: 0 auto;
}
#usercenter .login a.login_btn:hover {
  background-color: #eee;
  color: red;
}
#usercenter .user {
  overflow: hidden;
  background-color: #ff520b;
}
#usercenter .user .head {
  height: 4.75925926rem;
  width: 4.75925926rem;
  border: 1px #eee solid;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  float: left;
}
#usercenter .user .name {
  float: left;
  margin-top: 3.17283951rem;
  margin-left: 30px;
}
#usercenter ul {
  margin-top: 30px;
}
#usercenter ul:before,
#usercenter ul:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: #c8c7cc;
}
.mui-table-view-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
