* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
.borderBox {
  display: block;
  width: 100%;
}
.mui-bar {
  background-color: #ff520b;
}
.mui-bar-tab .mui-tab-item {
  color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #FFE62D;
}
.mui-bar .mui-icon {
  margin-top: 0.15rem;
  font-size: 1.099rem;
}
@media only screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (width: 412px) {
  html {
    font-size: 20.6px;
  }
}
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
body {
  background-color: #eeeeee;
}
header #register {
  float: right;
  line-height: 2.96296296rem;
  height: 2.96296296rem;
}
.cz_header a {
  font-size: 1.0625rem;
  color: #000000;
}
.cz_header {
  background-color: #ffffff;
}
.discript {
  width: 100%;
  background-color: #ff520b;
  padding: 4%;
}
.content {
  width: 18.77777778rem;
  height: 5.01851852rem;
  background: url("../images/login_ds.png") no-repeat left center;
  background-size: cover;
  margin-top: 2.75rem;
}
.login_form {
  text-align: center;
  margin-top: 1.25rem;
}
.login_form input {
  width: 90%;
}
.login_form input[type=button] {
  background-color: #ff520b;
  color: #fff;
}
.login_sub {
  height: 7.8125rem;
}
.login_sub .left {
  margin-left: 1.125rem;
  float: left;
}
.login_sub .right {
  padding-right: 1.125rem;
  float: right;
}
.login_sub a {
  display: block;
  width: 100%;
  width: 7.75rem;
  height: 7.75rem;
}
.login_sub a:nth-child(1) img {
  display: block;
  width: 100%;
}
.login_sub a:nth-child(2) img {
  display: block;
  width: 100%;
}
.login_third {
  margin-top: 1.25rem;
}
.login_third .ziti {
  font-size: 0.75rem;
}
.line {
  width: 50%;
  border: 3px solid #ccc;
  margin-left: 25%;
}
.line span {
  padding-left: 16%;
}
.login_third a {
  display: block;
  width: 100%;
  overflow: hidden;
  width: 3.06rem;
  height: 3.06rem;
}
.login_wx {
  float: left;
  margin-left: 6.25rem;
  padding-top: 1.875rem;
}
.login_qq {
  float: right;
  margin-right: 6.25rem;
  padding-top: 1.875rem;
}
.login_third a:nth-child(1) img {
  display: block;
  width: 100%;
}
.login_third a:nth-child(2) img {
  display: block;
  width: 100%;
}
