* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
.borderBox {
  display: block;
  width: 100%;
}
.mui-bar {
  background-color: #ff520b;
}
.mui-bar-tab .mui-tab-item {
  color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #FFE62D;
}
.mui-bar .mui-icon {
  margin-top: 0.15rem;
  font-size: 1.099rem;
}
@media only screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (width: 412px) {
  html {
    font-size: 20.6px;
  }
}
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
.cz_header {
  background-color: #ffffff;
}
.discript {
  width: 100%;
  background-color: #ff520b;
  padding: 4%;
  overflow: hidden;
}
.content a {
  display: block;
  width: 100%;
  display: inline-block;
  width: 5rem;
  margin-top: 2.8rem;
  float: left;
}
.content a img {
  display: block;
  width: 100%;
  margin-left: 10%;
}
.username {
  padding-left: 35%;
  padding-top: 25%;
}
.username span {
  color: #fff;
}
.total {
  padding-left: 65%;
}
.user_form {
  width: 100%;
}
.user_form .cell {
  background-color: #FFFFFF;
  color: red;
  padding-left: 6%;
}
.cell,
.name,
.pass,
.address,
.collect,
.my_order,
.set {
  height: 2.40740741rem;
  line-height: 2.40740741rem;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.cell a,
.name a,
.pass a,
.address a,
.collect a,
.my_order a,
.set a {
  padding-left: 20px;
  font-size: 16px;
}
.user_logout {
  margin-top: 1.25rem;
  width: 100%;
}
.user_logout a {
  display: block;
  width: 100%;
  width: 95%;
  padding-left: 5%;
  padding-top: 0.7rem;
}
.user_logout a img {
  display: block;
  width: 100%;
}
